<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="VetoshkinFloorMasterEntities" connectionString="metadata=res://*/VetoshkinFloorModel.csdl|res://*/VetoshkinFloorModel.ssdl|res://*/VetoshkinFloorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STUD231-8\SQLEXPRESS01;initial catalog=VetoshkinFloorMaster;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>