<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="VetoshkinFloorMasterEntities" connectionString="metadata=res://*/VetoshkinFloorMasterModel.csdl|res://*/VetoshkinFloorMasterModel.ssdl|res://*/VetoshkinFloorMasterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K8AJNNC\SQLEXPRESS;initial catalog=FloorMaster;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>